<mat-tab-group class="label" mat-align-tabs="center" (selectedTabChange)="clickTab($event)">
  <mat-tab label="Все новости">
    <app-news class="center" [tab]="tab" [listNews]="listNews"></app-news>
  </mat-tab>
  <mat-tab label="Избранное">
    <app-news class="center" [tab]="tab" [listNews]="listNews"></app-news>
  </mat-tab>
  <mat-tab label="Неизбранное">
    <app-news class="center" [tab]="tab" [listNews]="listNews"></app-news>
  </mat-tab>
</mat-tab-group>
<div *ngIf="loadingData">
  <mat-progress-bar mode="buffer" class="mat-progress-bar"></mat-progress-bar>
</div>
